  body {
  margin: 50px 250px;
  font-family: "times new roman", times, serif;
}

.titles {
  margin: 10px 0;
  border-top: 1px solid #777777;
  border-bottom: 2px solid #777777;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
  text-align: center;
}
  
.header {
    text-align: center;
    margin: 10px 0;
    border-bottom: 
}

h1 {
  letter-spacing: 4px;
  text-align: center;
  
}  

h3 {
  text-decoration: underline;
  
}

h4 {
  text-decoration: underline;

}

#grad1 {
  height: 200px;
  background-image: linear-gradient(lightblue, white);
}
