body {
  background-color: light grey;
  font-family: times new roman, serif;
  margin: 100px, 250px
  width: 100%
}

<style type="text/css">
 ul {
   list-style-type: none;
}
</style>

.header {
  border: 1px solid black
  font-size: 30
  padding: 30px
}
  
